#all_Category {
    display: flex;
    flex-wrap:wrap;
    margin-top: 50px;
    background-color: black;
    margin-top: 50px;
}
.category {
    display: flex;
    border: 2px black solid;
    margin-top: 20px;
    margin-left: 300px;
    background-color: azure;
}
#navMain {
    background-color: black;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#navTitle {
    height: 60%;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;

}

h1 {
    color: white;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

#navContainer {
    height: 40%;
    border: 1px solid black;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: inherit;
}

#navList{
    height: 100%;
    width: 80%;
    color: white;
    display: table-cell;

}

#navUl {
    list-style: none;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin: 0;
    padding-left: initial;
    text-align: center;

}
#panier {
    width: 20%;
    display: flex;
    color: white;
    justify-content: center;
    text-align: center;
}

.liNavList {
    border: 1px solid black;
    width: 20%;
    color: white;
}

.liNavHref {
    color: white;
}
.liNavHref:hover {
    color: red;
}
.description {
    float: right;
    width: 500px;
    height: 350px;
    text-align: center;
    border: 3px white solid;
}

.product_Name {
    border: 1px black solid;
    width: 450px;
    margin-top: 10px;
}

.product_Description {
    border: 1px black solid;
    width: 450px;
    text-align: center;
    padding: 20px;
    font-size: medium;
    font-weight: bold;
}

.price_Btn {
    border: 1px black solid;
    width: 450px;
}
.add_Btn {
    border: 1px black solid;
    width: 450px;
    margin-top: 20px;
}

img {
    width: 300px;
    height: 350px;
    border: white 10px solid;
}

